* {
  margin: 0;
  padding: 0;
  transition: 2s ease-in-out;
}
.header {
  background-color: rgb(89, 86, 86);
  font-family: cursive;
  position: relative;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.logoContainer {
  vertical-align: middle;
}
.logo {
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  /* padding: 1rem; */
  vertical-align: middle;
  color: rgb(210, 61, 93);
  text-transform: capitalize;
}
.navLinks {
  display: inline-flex;
  column-gap: 1.5rem;
  /* margin-top: 1rem; */
  padding: 1rem;
  vertical-align: middle;
}
.links {
  padding: 0.4rem;
  cursor: pointer;
  list-style: none;
}
.links:hover {
  background-color: rgb(209, 202, 202);
  border-radius: 0.3rem;
}
.menu {
  display: none;
  padding: 1rem;
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 25px;
  cursor: pointer;
}

.navForMobile {
  display: none;
  transition: 2s ease-in-out;
}
.tagLine {
  font-size: 13px;
  margin-left: 1rem;
  color: rgb(159, 180, 237);
}

@media (max-width: 500px) {
  .menu {
    display: block;
  }
  .navLinks {
    display: none;
    flex-direction: column;
  }
  .navForMobile {
    /* transition: 0.15s ease-in-out; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header {
    display: block;
  }
}
